body {
    font-family: Arial;
    padding: 20px;
}

nav a {
    margin-right: 20px;

}

.grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 220px;
}
